

$main-border-radius: 0.5625rem;
$secondary-border-radius: 2px;


$main-title-color: #000000;
$main-txt-color: #222222;
$secondary-txt-color: #918E9B;
$white: #ffffff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;