.card {
  // @include media($md) {
  //   max-width: 75%;
  // };
  // @include media($xl) {
  //   max-width: 55%;
  // };
  // @include media($xxl) {
  //   max-width: 50%;
  // };
  .card__name {

  }
  .isChecked {
    width: 45px;
  }
  .lh-0 {
    line-height: 0;
  }
}
.date-title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  @include media-max($sm) {
    width: 100px; 
  };
  & + button {
    padding: 0 10px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: $secondary-border-radius;
    border: 1px solid lightgray;
    &:hover {
      background-color: darkgray;
  }
  }
}